*{
    font-family: "Amiri", serif;
}
body{
    height:60vh
}
.container{
    height: 100%;
    padding:20% 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media (max-width:800px) {
    .container{
        padding:20% 30px
    }
}